<div class="ikura-content">
  <h1 class="title">Why Ikura?</h1>
  <div class="row">
    <div class="col-md-6">
     
      <p class="info-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam
        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et
        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
        duo dolores</p>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive">
        <iframe class="embed-responsive-item"
          src="https://www.youtube.com/embed/v64KOxKVLVg"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>