.ikura-content{
  margin-top: 50px;
  .info-text{
    font-size: 22px;
    margin: 22px 0;
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 18px !important;
    }
  }
  .embed-responsive{
    height: 100%;
    border-radius: 8px;
  }
}
