<div class="contact-us-content">
  <h1 class="title text-center">contact us</h1>
  <div class="row contact-form">
    <div class="col-md-6">
      <form>
        <p class="text-uppercase text-center heading">get in touch</p>
        <p><i class="fa fa-suitcase" aria-hidden="true"><span class="ml-2">contact@ikura.token???</span></i></p>
        <p><i class="fa fa-twitter" aria-hidden="true"><span class="ml-2">@IkuraToken</span></i></p>

        <div class="row form-group">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="10" id="message" placeholder="Write your message here"></textarea>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-block send-btn">Send</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="contact-img-area">
       <div class="img-container">
        <img class="img-fluid" src="assets/images/cuteSalmonRoe.png">
       </div>
      </div>
    </div>
  </div>
</div>
