<div class="road-map-content px-0 jumbotron">
  <h1 class="title text-center mb-4">roadmap</h1>
  <div class="row pt-4">
    <div class="col-md-4">
      <div class="heading active">Q4 2021</div>
      <ul class="list-unstyled milestone-list">
        <li class="list-group-item active-list">Milestone 1</li>
        <li class="list-group-item active-list">Milestone 2</li>
        <li class="list-group-item active-list">Milestone 3</li>
        <li class="list-group-item">Milestone 4</li>
        <li class="list-group-item">Milestone 5</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="heading">Q1 2022</div>
      <ul class="list-unstyled milestone-list">
        <li class="list-group-item">Milestone 1</li>
        <li class="list-group-item">Milestone 2</li>
        <li class="list-group-item">Milestone 3</li>
        <li class="list-group-item">Milestone 4</li>
        <li class="list-group-item">Milestone 5</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="heading">Q2 2022</div>
      <ul class="list-unstyled milestone-list">
        <li class="list-group-item">Milestone 1</li>
        <li class="list-group-item">Milestone 2</li>
        <li class="list-group-item">Milestone 3</li>
        <li class="list-group-item">Milestone 4</li>
        <li class="list-group-item">Milestone 5</li>
      </ul>
    </div>
  </div>
</div>
