<div class="header container-fluid">
  <nav class="navbar navbar-expand-lg ikura-nav">
    <a class="navbar-brand" href="">
      <img src="assets/images/Group236.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <button type="button" class="btn border-gradient-red">
              buy ikura
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://app.ikura.one" >
            <button type="button" class="btn border-gradient-blue">launch app</button>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Github">
          <a class="nav-link" target="_blank" href="https://github.com/IkuraToken"><img src="assets/images/Icon-awesome-github-alt.png"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Twitter">
          <a class="nav-link" target="_blank" href="https://twitter.com/IkuraToken"><img src="assets/images/Icon-awesome-twitter.png"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Telegram">
          <a class="nav-link" target="_blank" href="#"><img src="assets/images/Icon-awesome-telegram-plane.png"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Medium">
          <a class="nav-link" target="_blank" href="https://ikuratoken.medium.com/"><img src="assets/images/Icon-awesome-medium-m.png"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Reddit">
          <a class="nav-link" target="_blank" href="https://www.reddit.com/r/IkuraToken/"><img src="assets/images/Icon-awesome-reddit-alien.png"></a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Nomics">
          <a class="nav-link" target="_blank" href="https://nomics.com/assets/ikura-ikura-token"><img src="assets/images/NomicsLogo.png"></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="mob-nav d-sm-block d-md-none">
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start p-1">
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      *ngIf="!navbarSupportedContent" (click)="navbarSupportedContent = true">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="d-flex">
    <a class="navbar-brand" href="">
      <img src="assets/images/mob-logo.svg">
    </a>
    <ul class="nav">
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Github">
        <a class="nav-link" target="_blank" href="https://github.com/IkuraToken"><img src="assets/images/Icon-awesome-github-alt.png"></a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Twitter">
        <a class="nav-link" target="_blank" href="https://twitter.com/IkuraToken"><img src="assets/images/Icon-awesome-twitter.png"></a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Telegram">
        <a class="nav-link" target="_blank" href="#"><img src="assets/images/Icon-awesome-telegram-plane.png"></a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Medium">
        <a class="nav-link" target="_blank" href="https://ikuratoken.medium.com/"><img src="assets/images/Icon-awesome-medium-m.png"></a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Reddit">
        <a class="nav-link" target="_blank" href="https://www.reddit.com/r/IkuraToken/"><img src="assets/images/Icon-awesome-reddit-alien.png"></a>
      </li>
    </ul>
  </div>
  <ng-container *ngIf="navbarSupportedContent">
    <img class="close-icon" src="assets/images/close.svg" (click)="navbarSupportedContent = false">
  </ng-container>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="navbarSupportedContent" >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" >Home</a>
        </li>
        <li class="nav-item" (click)="navbarSupportedContent = false">
          <a class="nav-link" [routerLink]="['ikura']">Why Ikura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Roadmap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Buy Ikura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Launch App</a>
        </li>
      </ul>
    </div>
  </nav>  
</div>
