@import "src/assets/styles/variable";

.header {
  padding: 20px 0;
  
  @media screen and(max-width:768px) {
    display: none;
  }
  .ikura-nav {
    .navbar-nav {
      align-items: center;
      img {
        width: 34px;
        height: 27px;
      }
    }
  }
  .btn {
    color: $white;
      border: 3px solid transparent;
      border-radius: 25px;
      padding: 6px 24px;
      text-transform: uppercase;
    &.border-gradient-red {
      background: linear-gradient(#000000, #000000) padding-box, linear-gradient(to right, #aa2020, #5e1818) border-box;
    }
    &.border-gradient-blue {
      background: linear-gradient(#000000, #000000) padding-box, linear-gradient(to right, #2f549f, #282c6f) border-box;
    }
  }
}

.mob-nav {
  .nav {
    .nav-link {
      filter: invert(100%);
      padding: 8px;
      img{
        width: 15px;
        height: 15px;
      }
    }
  }
  .navbar-nav {
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 9999;
    background: black;
    text-align: center;
    .nav-link{
      color: $white;
      font-size: 32px;
      font-family: 'Open Sans';
    }
  }
  .close-icon{
    position: absolute;
    right: 0;
  }
}