<div class="header">
  <nav class="navbar navbar-expand-lg ikura-nav">
    <a class="navbar-brand" href="#">
      <img src="assets/images/Group236.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <button type="button" class="btn border-gradient-red">
              buy ikura
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <button type="button" class="btn border-gradient-blue">launch app</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/images/Icon-awesome-github-alt.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/images/Icon-awesome-twitter.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/images/Icon-awesome-telegram-plane.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/images/Icon-awesome-medium-m.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/images/Icon-awesome-reddit-alien.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/images/NomicsLogo.png"></a>
        </li>
      </ul>
    </div>
  </nav>
</div>