/* You can add global styles to this file, and also import other style files */
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import "assets/styles/variable";

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}