<div class="banner">
  <div class="container-fluid h-100">
    <app-header></app-header>
    <div class="banner-area text-white h-100">

      <div class="bs-stepper vertical" id="stepper1">
        <div class="stepper-header-container">
          <div class="bs-stepper-header" role="tablist">
            <div class="step" data-target="#logins-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Home</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#information-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Why Ikura</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#roadmap-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Roadmap</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#team-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Our Team</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#contact-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Contact Us</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="bs-stepper-content">
          <div id="logins-part" class="content" role="tabpanel" >
            <div class="home-content text-center" *ngIf="currentStep === 0">
             <div class="img-container">
              <img class="img-fluid" src="assets/images/Group-289.png">
             </div>
             <h1>EMPOWERING THE HARMONY ECOSYSYEM</h1>
             <h3>We are excited to announce the release of our beta v2 and invite the IKURA
              community to trial it below.</h3>

              <div class="button-container">
                <button type="button" class="btn btn-lg btn-whitepaper mr-4">whitepaper</button>
                <button type="button" class="btn btn-lg btn-launch-app">launch app</button>
              </div>

              <div class=" icon copy-icon"><h3>&copy;Ikura Token</h3></div>
            </div>
          </div>
          <div id="information-part" class="content" role="tabpanel" >
            <app-ikura-info *ngIf="currentStep === 1"></app-ikura-info>
          </div>
          <div id="roadmap-part" class="content" role="tabpanel">
            <app-road-map *ngIf="currentStep === 2"></app-road-map>
          </div>
          <div id="team-part" class="content" role="tabpanel">
            <app-our-team *ngIf="currentStep === 3"></app-our-team>
          </div>
          <div id="contact-part" class="content" role="tabpanel">
            <app-contact-us *ngIf="currentStep === 4"></app-contact-us>
          </div>
        </div>
      </div>

        <!-- <div class="row">
  

            
                <label class="Slide" for="Slide3" id="Slide3">
                  <div class="content">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="active active-head"><a href="#">Q4 2021</a></span>
                        <ul class="list-unstyled milestone-list">
                          <li><a href="#">Milestone 1</a></li>
                          <li><a href="#">Milestone 2</a></li>
                          <li><a href="#">Milestone 3</a></li>
                          <li><a href="#">Milestone 4</a></li>
                          <li><a href="#">Milestone 5</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <span class="active"><a href="#">Q4 2022</a></span>
                        <ul class="list-unstyled milestone-list">
                          <li><a href="#">Milestone 1</a></li>
                          <li><a href="#">Milestone 2</a></li>
                          <li><a href="#">Milestone 3</a></li>
                          <li><a href="#">Milestone 4</a></li>
                          <li><a href="#">Milestone 5</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4">
                        <span class="active"><a href="#">Q4 2023</a></span>
                        <ul class="list-unstyled milestone-list">
                          <li><a href="#">Milestone 1</a></li>
                          <li><a href="#">Milestone 2</a></li>
                          <li><a href="#">Milestone 3</a></li>
                          <li><a href="#">Milestone 4</a></li>
                          <li><a href="#">Milestone 5</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </label>
                <label class="Slide" for="Slide4" id="Slide4">
                  <div class="content">
                    <div class="container-fluid">
                      <div class="row" id="mobile-step">
                        <div class="col-10 mx-auto">
                          <div class="testimonial-area">
                            <div class="testimonial-image-slider slider-nav text-center">
                              <div class="mcontent">
                                <p>Step 1</p>
                                <em>Complete the essay questions</em>
                              </div>
                              <div class="mcontent">
                                <p>Step 2</p>
                                <em>Complete the registration form as below</em>
  
                              </div>
                              <div class="mcontent">
                                <p>Step 3</p>
                                <em>We will review your answers to the essay questions.
                                </em>
  
                              </div>
                              <div class="mcontent">
                                <p>Step 4</p>
                                <em>If you are qualified, we will send you a confirmation
                                  letter within 1 week.</em>
  
                              </div>
                              <div class="mcontent">
                                <p>Step 5</p>
                                <em>Registration completed</em>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
  
  
                  </div>
                </label>
                <label class="Slide" for="Slide5" id="Slide5">
                  <div class="content">
                    <h1>About</h1>
                    <div class="block"><span><a href="https://dribbble.com/hrtzt" target="_blank"><i
                            class="fa fa-dribbble"> </i>Dribbble me</a></span><span><a
                          href="https://twitter.com/hrtzt" target="_blank"><i
                            class="fa fa-twitter"></i>Tweet me</a></span></div>
                  </div>
                </label>
                <label for="Slide6" id="Slide6">
                  <div class="content">
                    <h1>Dummy page</h1>
                    <div class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Architecto numquam, totam iusto officia earum perferendis</div>
                  </div>
                </label>
                <label for="Slide7" id="Slide7">
                  <div class="content">
                    <h1>Dummy page</h1>
                    <div class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Architecto numquam, totam iusto officia earum perferendis</div>
                  </div>
                </label>
              </div>
            </form>
          </div>
  
  
        </div> -->
    </div>
  </div>

</div>