<div class="banner">
  <div class="container-fluid h-100">
    <app-header></app-header>
    <div class="banner-area text-white h-100">

      <div class="bs-stepper vertical" id="stepper1">
        <div class="stepper-header-container">
          <div class="bs-stepper-header" role="tablist">
            <div class="step" data-target="#logins-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Home</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#information-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Why Ikura</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#roadmap-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Roadmap</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#team-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Our Team</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#contact-part">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-label">Contact Us</span>
                <span class="bs-stepper-circle"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="bs-stepper-content">
          <div id="logins-part" class="content" role="tabpanel" >
            <div class="home-content text-center" *ngIf="currentStep === 0">
             <div class="img-container">
              <img class="img-fluid" src="assets/images/Group-289.png">
             </div>
             <h1>EMPOWERING THE HARMONY ECOSYSYEM</h1>
             <h3>We are excited to announce the release of our beta v2 and invite the IKURA
              community to trial it below.</h3>

              <div class="button-container">
                <button type="button" class="btn btn-lg btn-whitepaper mr-4">whitepaper</button>
                <button type="button" class="btn btn-lg btn-launch-app">launch app</button>
              </div>

              <div class=" icon copy-icon"><h3>&copy;Ikura Token</h3></div>
            </div>
          </div>
          <div id="information-part" class="content" role="tabpanel" >
            <app-ikura-info *ngIf="currentStep === 1"></app-ikura-info>
          </div>
          <div id="roadmap-part" class="content" role="tabpanel">
            <app-road-map *ngIf="currentStep === 2"></app-road-map>
          </div>
          <div id="team-part" class="content" role="tabpanel">
            <app-our-team *ngIf="currentStep === 3"></app-our-team>
          </div>
          <div id="contact-part" class="content" role="tabpanel">
            <app-contact-us *ngIf="currentStep === 4"></app-contact-us>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>